In [44]:
# Делаю сегмент r-score и создаю значения (меньше 30 дней, до 96 дней и больше 96 дней)

orders_status_rfm['r_score'] = pd.qcut(orders_status_rfm['time_delta'],q = [0,0.8,0.9,1] , labels=[1,2,3])
orders_status_rfm.head()

C:\Temp\ipykernel_2536\605807098.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  orders_status_rfm['r_score'] = pd.qcut(orders_status_rfm['time_delta'],q = [0,0.8,0.9,1] , labels=[1,2,3])

,customer_unique_id,order_id,order_purchase_timestamp,price,time_delta,r_score
0,861eff4711a542e4b93843c6dd7febb0,00e7ee1b050b8499577073aeb2a297a1,2017-05-16 15:05:35,124.99,-470 days +00:04:58,1
1,290c77bc529b7ac935b93aa66c333dc3,29150127e6685892b6eab3eec79f59c7,2018-01-12 20:48:24,289.00,-229 days +05:47:47,1
2,060e732b5b29e8181a18229c7b0b2b5e,b2059ed67ce144a36e2aa97d2c9e9ad2,2018-05-19 16:07:45,139.94,-102 days +01:07:08,1
3,259dac757896d24d7702b9acbbff3f3c,951670f92359f4fe4a63112aa7306eba,2018-03-13 16:06:38,149.94,-169 days +01:06:01,1
4,345ecd01c38d18a9036ed96c73b8d066,6b7d50bd145f6fc7f33cebabd7e49d0f,2018-07-29 09:51:30,230.00,-32 days +18:50:53,3

In [45]:
# Соединяю таблицу и r

unique_id = olist_orders.merge(olist_customers, on='customer_id', how='left') 
unique_id.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,7c396fd4830fd04220f754e42b4e5bff,3149.0,sao paulo,SP
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,af07308b275d755c9edb36a90c618231,47813.0,barreiras,BA
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,3a653a41f6f9fc3d2a113cf8398680e8,75265.0,vianopolis,GO
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00,7c142cf63193a1473d2e66489a9ae977,59296.0,sao goncalo do amarante,RN
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00,72632f0f9dd73dfee390c9b22eb56dd6,9195.0,santo andre,SP

In [46]:
# Считаю сколько заказов у каждого пользователя

x = unique_id[unique_id['order_status'] == 'delivered'] \
    .groupby('customer_unique_id')['order_id'].count() \
    .reset_index(name='count')

In [47]:
# Удаляю дубликаты и пропуски

orders_status_rfm.customer_unique_id = orders_status_rfm.customer_unique_id.drop_duplicates()
orders_status_rfm = orders_status_rfm.dropna()

C:\Temp\ipykernel_2536\3104163563.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  orders_status_rfm.customer_unique_id = orders_status_rfm.customer_unique_id.drop_duplicates()

In [48]:
# Соединяю колонки и проверяю таблицу

orders_status_rfm = orders_status_rfm.merge(x,how='left', on='customer_unique_id')
orders_status_rfm.head()

,customer_unique_id,order_id,order_purchase_timestamp,price,time_delta,r_score,count
0,861eff4711a542e4b93843c6dd7febb0,00e7ee1b050b8499577073aeb2a297a1,2017-05-16 15:05:35,124.99,-470 days +00:04:58,1,1
1,290c77bc529b7ac935b93aa66c333dc3,29150127e6685892b6eab3eec79f59c7,2018-01-12 20:48:24,289.00,-229 days +05:47:47,1,1
2,060e732b5b29e8181a18229c7b0b2b5e,b2059ed67ce144a36e2aa97d2c9e9ad2,2018-05-19 16:07:45,139.94,-102 days +01:07:08,1,1
3,259dac757896d24d7702b9acbbff3f3c,951670f92359f4fe4a63112aa7306eba,2018-03-13 16:06:38,149.94,-169 days +01:06:01,1,1
4,345ecd01c38d18a9036ed96c73b8d066,6b7d50bd145f6fc7f33cebabd7e49d0f,2018-07-29 09:51:30,230.00,-32 days +18:50:53,3,1

In [49]:
# Делаю сегмент по количеству заказов от 1-го до 3-х (в третьем 3 и больше)

orders_status_rfm['f_score'] = orders_status_rfm['count'].apply(lambda x: 3 if x > 2 else x)
orders_status_rfm.head()

,customer_unique_id,order_id,order_purchase_timestamp,price,time_delta,r_score,count,f_score
0,861eff4711a542e4b93843c6dd7febb0,00e7ee1b050b8499577073aeb2a297a1,2017-05-16 15:05:35,124.99,-470 days +00:04:58,1,1,1
1,290c77bc529b7ac935b93aa66c333dc3,29150127e6685892b6eab3eec79f59c7,2018-01-12 20:48:24,289.00,-229 days +05:47:47,1,1,1
2,060e732b5b29e8181a18229c7b0b2b5e,b2059ed67ce144a36e2aa97d2c9e9ad2,2018-05-19 16:07:45,139.94,-102 days +01:07:08,1,1,1
3,259dac757896d24d7702b9acbbff3f3c,951670f92359f4fe4a63112aa7306eba,2018-03-13 16:06:38,149.94,-169 days +01:06:01,1,1,1
4,345ecd01c38d18a9036ed96c73b8d066,6b7d50bd145f6fc7f33cebabd7e49d0f,2018-07-29 09:51:30,230.00,-32 days +18:50:53,3,1,1

In [50]:
# Результат

orders_status_rfm.f_score.value_counts()

1    90556
2     2573
3      228
Name: f_score, dtype: int64